

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
}

main {
    background: white;
}
footer{
	background: yellow;
}
h1 {
  text-shadow: rgba(0, 0, 0, .6) 5px 5px 4px;
}